@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .05rem;
}

.display-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerContainer {
    min-height: 100vh;
}

h2 {
    margin-bottom: 1.5rem;
}

#message {
    margin-bottom: 1rem;
    color: #e64141;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: .3rem;
}

input {
    border: .1rem solid #888;
    border-radius: .5rem;
    letter-spacing: .1rem;
    padding: .6rem .8rem;
    width: 16rem;
}

button {
    margin: 1rem 0;
    border: none;
    border-radius: .5rem;
    letter-spacing: .1rem;
    padding: .8rem 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #5454f0;
    color: #EEE;
    cursor: pointer;
}

button:hover {
    background-color: #2121ce;
    transition: .3s ease;
}

a {
    margin: 1.5rem 0;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
}

a:hover {
    color: #111;
    transition: .3s ease;
}