@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .05rem;
    margin: 0;
}
body, input, textarea {
    font-family: 'Nunito Sans', sans-serif;
}
label {
    display: flex;
    margin-bottom: .3rem;
}
input {
    font-size: 1.0rem;
}
input, textarea {
    border: .1rem solid #888;
    border-radius: .3rem;
    letter-spacing: .1rem;
    padding: .6rem .8rem;
    width: 18rem;
}
textarea {
    font-size: 0.9rem;
    max-height: 12rem;
    min-height: 4rem;
    max-width: 18rem;
    min-width: 18rem;
}
button {
    border: none;
    border-radius: .5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
}
.container {
    width: 60rem;
    min-height: 100vh;
}
.display-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 0;
    margin-bottom: 2rem;
}
h1 {
    font-size: 1.4rem;
}
header .sideHeader {
    display: flex;
    align-items: center;
}
header .sideHeader span {
    font-weight: 600;
    margin-right: 3rem;
    color: #555;
    font-size: 0.9rem;
}
header button {
    padding: .5rem 1.4rem;
    background-color: #7e7e81;
}
header button:hover {
    background-color: #595964;
    transition: .3s ease;
}

/* Main */
main {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.form-group {
    margin-bottom: 1.5rem;
}
.taskInsertForm h3 {
    font-size: 1.1rem;
}
.taskInsertForm label {
    font-size: 0.9rem;
}
.showTasks {
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin-bottom: 5rem;
}
.showTasks h5 {
    color: #555;
    font-size: 1.1rem;
    font-weight: 400;
}
.task {
    display: flex;
    margin: .5rem 0;
    padding: .5rem 0;
}
.markTask {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 5rem;
    background-color: #FFF;
    border: .1rem solid #333;
    margin-right: 1.5rem;
    cursor: pointer;
}
.markTask:hover {
    background-color: #919ff8;
}
.taskInfos {
    width: 16rem;
    margin-right: 1rem;
}
.taskInfos h3, .taskInfos p {
    width: 100%;
    margin: 0;
}
.taskInfos h3 {
    font-size: 1.1rem;
    margin-bottom: .3rem;
    padding-top: .3rem;
    font-weight: 700;
}
.taskInfos p {
    font-size: 1.0rem;
}
.completedDate {
    margin-top: .5rem;
    font-size: 0.8rem;
    color: #777;
}
.updateTask, .deleteTask {
    text-align: center;
    width: 1.5rem;
    margin: 0 .5rem;
    align-self: center;
    cursor: pointer;
    font-size: 1.3rem;
}
.updateTask {
    color: #2296d4;
}
.deleteTask {
    color: #e53d3d;
}
.showTasks input, .showTasks textarea {
    border-radius: .3rem;
    letter-spacing: .1rem;
    padding: .4rem .6rem;
}
.showTasks input {
    width: 14rem;
    margin-bottom: .5rem;
}
.showTasks textarea {
    max-width: 14rem;
    min-width: 14rem;
    max-height: 6rem;
    min-height: 3rem;
}
.saveUpdate {
    display: flex;
    align-items: center;
    align-self: center;
    height: 1.8rem;
    margin: 0 .5rem;
    padding: 0 1rem;
    font-size: 0.8rem !important;
    background-color: #3ec43e;
}
.saveUpdate:hover {
    background-color: #1b961b;
}
.completedTasks {
    margin-top: 2.0rem;
}
.completedTasks h4 {
    font-size: 1.0rem;
    color: #333;
    font-weight: 600;
    margin: 0;
}
.completed .markTask {
    font-size: 1.6rem;
    border: 0;
    border-radius: 0;
}
.completed .markTask:hover {
    background-color: transparent;
}
.completed .taskInfos h3 {
    text-decoration: line-through;
    color: #555;
}
.completed .taskInfos p {
    color: #BBB;
}
main button {
    padding: .5rem 1.4rem;
    background-color: #5454f0;
}
main button:hover {
    background-color: #2121ce;
    transition: .3s ease;
}

/* Credit */
.credit {
    margin: 3.0rem 0;
    color: #333;
    font-size: 0.8rem;
}
.credit a {
    text-decoration: none;
    font-weight: 600;
}